@font-face {
    font-family: 'league_spartanbold';
    src: url('leaguespartan-bold-webfont.woff2') format('woff2'),
         url('leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.animationContainer {
	height: 95vh; 
}

.textBox {
	width: 100%;
	height: 100%
	margin: auto;
}

.head1, .head2, .head3 {
	 margin: auto; 
	 text-align: center; 
	 font-family: league_spartanbold;
	 color: rgb(0, 255, 0);
	 position: relative;
}

.head1 {
	text-decoration: underline;
	font-size: 300%;
}

.head2 {
	font-size: 150%;
}

.head3 {
	font-style: italic;
	font-size: 100%;
}


.floatingCharacter, .snakeBody {
	font-family: Consolas,monaco,monospace; /*Standard vs font, I like how it looks but might change*/
	width: 1%;
	height: 1%;
	position: relative;
}

.floatingCharacter {
	color: rgb(0, 255, 0);
}

.snakeBody {
	color: rgb(255, 0, 0);
}

.display-grid {
  width: 100vw;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}